<html>
    <head>
        <title>Currenny convertor</title>
    </head>
    <body>
	 
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 	<link rel="stylesheet" type="text/css" href="static/app/app.css>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        
        <h1>Curreny Convertor</h1>
	</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
   
            {% endblock %}
        </div>
    </div>
</div>
    </body>
</html>
