<head></head>
{% extends "app/base.html" %}
{% block content %}
<form method="POST">
 {% csrf_token %}

  
  Convert:
<select id= "convert_from" class='select'>
    <option value="USD">US Dollar</option>
    <option value="EUR">Euro</option>
    <option value="INR">Indian Rupee</option>
    <option value="SGD">SGD</option>
    <option value="GBP">GBP</option>
 </select>
Amount:
  <input type="text" class= 'textarea_2' id="amount" name="amount"/>

<br><br>
   To:
<select id= "convert_to" class='select'>
  <option value="USD">US Dollar</option>
  <option value="EUR">Euro</option>
  <option value="INR">Indian Rupee</option>
  <option value="SGD">SGD</option>
  <option value="GBP">GBP</option>
</select>
<br><br>
  <input type="button" class="convert" id="submit" value="Convert"/><br><br>
  Converted Amount:
 <div style="text-align:center;text-color:'darkblue;" id='result' class= "boxs"> </div><br>
</form>


{% endblock %}
